{% load staticfiles %}

<link type="text/css" rel="stylesheet" href="{% static 'materialize.css' %}"  media="screen,projection"/>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="{% static 'materialize.js' %}"></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<form method="post">
	{% csrf_token %}
	<input type="number" name="OTP" placeholder="OTP"/>
	<input type="hidden" value={{tok}} name="tok"/>
	<input type="hidden" value={{k}} name="k"/>
	<input type="submit" class="btn">
</form>
